html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font: 0.92em/1.4 "Segoe UI",Tahoma,Arial,"MS Sans Serif",sans-serif;
    width: 80%;
}

section {
    float: right;
    margin-top: 5px;
    padding: 0;
    height: auto;
    width: 75%;
}

    section > article {
        margin: 5px;
        padding: 0;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    article > a {
        text-decoration: none;
    }

    article > a:hover {
        text-decoration: underline;
    }

#mainMenu {
    float: left;
}

ul.mainMenu { 
    width: 11em; 
}

    ul.mainMenu li {
        list-style: none;
        background-color: #039;
        border-top: 1px dotted silver;
        text-align: left;
        margin: 0;
    }

        ul.mainMenu li a {
            display: block;
            text-decoration: none;
            padding: .25em;
            border-right: 1px dotted silver;
        }

        ul.mainMenu li ul {
            border-top: none;
        }

aside a:link, a:visited { color: #fff; }
aside a:hover, a:active { color: #000; }
aside a:hover { background-color: #fff; }

label {
    display: block;
    width: 7em;
}

input {
    margin: 2px;
}

    input[type="submit"] {
        height: auto;
    }

    input[type="text"] {
        height: 1.2em;
        width: 80%;
    }

    input[type="text"].date {
        height: 1.2em;
        width: 20%;
    }

select {
    height: auto;
}

.hiddencol {
    display: none;
}

.dataTable {
    border-collapse: collapse;
    width: 100%;
}

.dataTable th, td {
    border-right: 1px dotted silver;
    border-bottom: 1px dotted silver;
    padding: .5ex;
}

.dataTable th.id {
    width: 0;
}

.dataTable th.status {
    width: 10%;
}

.dataTable th.name {
    width: 10%;
}

.dataTable th.dpt {
    width: 15%;
}

.dataTable th.descr {
    width: 25%;
}

.dataTable th.worker {
    width: 10%;
}

.dataTable th.crdate {
    width: 7%;
}

.dataTable th.cldate {
    width: 8%;
}

.dataTable th.reason {
    width: 10%;
}

.dataTable > caption {
    caption-side: top;
    margin-bottom:auto;
    text-shadow: 2px 2px 3px grey;
    font-variant: small-caps;
}

.dataTable tr:nth-child(odd) {
    background: #ccc;
}

.dataTable tr:nth-child(even) {
    background: #eee;
}

.dataTable tr:hover {
    color: white;
    background: linear-gradient(to top, rgb(0,0,192), rgb(0,0,104));
    cursor: pointer;
    -webkit-transition-property: color, background;
    -webkit-transition-duration: 200ms, 1s;
    -webkit-transition-timing-function: linear, ease;
    -o-transition-property: color, background;
    -o-transition-duration: 200ms, 1s;
    -o-transition-timing-function: linear, ease;
    -moz-transition-property: color, background;
    -moz-transition-duration: 200ms, 1s;
    -moz-transition-timing-function: linear, ease;
    transition-property: color, background;
    transition-duration: 200ms, 1s;
    transition-timing-function: linear, ease;
}

.dataTable thead > tr {
    color: white;
    background: #039 !important;
}

.dataTable tr:not(:nth-child(1)) th {
    text-align: left;
}
.dataTable td:nth-last-child(1) {
    border-right: none;
}

.paginator {
    color: #000;
    float: right;
	text-align: right;
    width: 100%;
}
    .paginator tr {
        background: #ccc;
    }

    .paginator a {
        color: #039;
        text-decoration: none;
    }
    .paginator a:active {
        outline: none;
    }
    .paginator a:hover {
        background: #ccc;
        text-decoration:dotted;
    }